<div class="content">
    <h1>INGRESO DE DATOS</h1>
    <div class="datos">
      Ingrese su Nombre:<br><input type="text" name="nombre"  placeholder="NOMBRE" required>
      <br>
      <br>
      Ingrese su Apellido:<br><input type="text" placeholder="APELLIDO">
      <br>
      <br>
      Ingrese su Direccion:<br><input type="text" placeholder="DIRECCION">
      <br>
      <br>
      Ingrese su Numero de Cel:<br><input type="text" placeholder="CELULAR">
      <br>
      <br>
      Ingrese su Edad:<br><input type="text" placeholder="EDAD">
      <br>
      <br>
      <div class="boton">
        <button onclick="[routerLink='2']">GUARDAR</button>
      </div>
      <br>
    </div>
</div>